@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@theme {

  --font-primary: "Inter", "sans-serif";
  --font-secondary: "Cabin", "sans-serif";
}


:root {
  body {
    --primary-c: #7b458f;
    --color-submit: #d191bc;
    --color-remove: #fe4e80;
    --secondary-c: #48A9A6;
  }

} 

html {
  scrollbar-gutter: stable;
}